@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --beige: 240, 230, 221;
  --lightorange: 244, 158, 136;
  --winered: 112, 17, 49;
}

@media (prefers-color-scheme: dark) {
  :root {
    --beige: 240, 230, 221;
    --lightorange: 244, 158, 136;
    --winered: 112, 17, 49;
  }
}

body {
  color: rgb(var(--beige));
  border-color:  rgb(var(--beige));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--lightorange))
    )
    rgb(var(--winered));
}
